<form action="/api/sessions/login">
    <label for="email">Email</label>
    <input type="email" required>
    <label for="password">Password</label>
    <input type="password" required>
    <button type="submit">Ingresar</button>
</form>
<a href="/register">Registrarse</a>